[user]
	name = Mark Janssen
	email = 20283+praseodym@users.noreply.github.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ1Nv7ece6h+40+vweGug1i7p8eAg8e/Sk0HRtfbqbBY
[core]
	autocrlf = input
	safecrlf = true
	excludesFile = ~/.gitignore
[github]
	user = praseodym
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	cb = !git branch | grep ^* | cut -d' ' -f2
	sb = !ls .git/refs/remotes/*/$(git cb) | cut -d/ -f4,5 | xargs git show-branch $(git cb)
	stofzuiger = !git branch --merged | grep -Ev '^\\*|master$|main$' | xargs -n 1 git branch -d
	dft = difftool
	dlog = "-c diff.external=difft log -p --ext-diff"
[color]
	ui = true
[merge]
	tool = kdiff3
[diff]
	tool = difftastic
	guitool = kdiff3
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[pull]
	ff = only
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
