[user]
	name = Mark Janssen
	email = 20283+praseodym@users.noreply.github.com
[core]
	autocrlf = input
	safecrlf = true
	excludesfile = ~/.gitignore_global
[github]
	user = praseodym
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	cb = !git branch | grep ^* | cut -d' ' -f2
	sb = !ls .git/refs/remotes/*/$(git cb) | cut -d/ -f4,5 | xargs git show-branch $(git cb)
	stofzuiger = !git branch --merged | grep -v '^*\\|master$' | xargs -n 1 git branch -d
[color]
	ui = true
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
[push]
	default = simple
[rebase]
	autosquash = true
	autostash = true
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[pull]
	ff = only
[init]
	defaultBranch = main
